<body>
    <div>
        {{#each paragraphs}}
        <div class='card'>
            <p class='card-title'>{{title}}</p>
            <p class='card-paragraph'>{{paragraph}}</p>
        </div>
        {{/each}}
    </div>
    <a href="/blog">Add Expense</a>
    <button id="buttonlogout" type="submit">Logout</button>
    <script src="./logout.js"></script>
</body>