<h1>Make Blog</h1>
<form action="/api/paragraph" method="post">
    <div>
        <label for="title"> blog title</label>
        <input type="text" name="title" id="title" required>

    </div>
    <div>
        <label for="paragraph"> blog paragraph</label>
        <input type="text" name="paragraph" id="paragraph" required>

    </div>
    <button id="submitbutton"> make blog </button>
</form>
<a href="/signup">signup</a>